@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>I walk the line <a href="https://www.imdb.com/title/tt0358273/">through Joker Games</a>.</p>
    <img class="img-fluid" src="img/Joker1911.jpg"/>
</div>
